img { width: 100px;
                   height: 40px; }
            
            .nav { font-family: fantasy;
                   background-color: #0A61C9;
                   position: sticky;
                   top: 0; 
                   float: fixed;
            }
            
            a { text-decoration: none; 
                color: #fff;
                text-shadow: 2px 0 black , -2px 0 black , 0 2px black , 0 -2px black,
                1px 1px black , -1px -1px black , 1px -1px black , -1px 1px black ;
                font-size: 30px;
            }
            
            a:hover { color: #90D5FF; 
            }
            
            h2 { text-shadow: 2px 0 #90D5FF , 2px 0 #90D5FF , 0 2px #90D5FF , 0 2px #90D5FF, 2px 2px #90D5FF , 2px 2px #90D5FF , 2px 2px #90D5FF , 2px 2px #90D5FF ;
                 font-size: 40px;
                 color: blue;
                font-family: helvetica;
            }
            
            .sub { text-shadow: 2px 0 #fff , -2px 0 #fff , 0 2px #fff , 0 -2px #fff, 1px 1px #fff , -1px -1px #fff , 1px -1px #fff , -1px 1px #fff ;
                 font-size: 25px;
                 color: #A3CAE9;
            }
            
            .highlight { text-shadow: 2px 0 #0A61C9 , -2px 0 #0A61C9 , 0 2px #0A61C9 , 0 -2px #0A61C9, 1px 1px #0A61C9 , -1px -1px #0A61C9 , 1px -1px #0A61C9 , -1px 1px #0A61C9; 
                 font-size: 25px; 
                 color: #90D5FF;
                 font-weight: bold;
                 text-align: center; }
                
            .highlight2 { text-shadow: 2px 0 #0A61C9 , -2px 0 #0A61C9 , 0 2px #0A61C9 , 0 -2px #0A61C9, 1px 1px #0A61C9 , -1px -1px #0A61C9 , 1px -1px #0A61C9 , -1px 1px #0A61C9; 
                 font-size: 15px; 
                 color: #90D5FF;
                 font-weight: bold;
                 text-align: center; }
            
            .description { font-family: Brush Script MT; 
                           font-size: 35px;
                           text-align: center;
            }
            
            p { font-family: helvetica;
                text-indent: 15px;
                text-align: justify;
            }
            
            .bg { border-style: dotted;
                  border-color: white; 
                 background-color: black;
            }
            
            .dot { border-style: dotted;
                  border-color: blue; }
                  
            iframe { width: 710px;
                    height: 315px; }
                    
            body { margin: 0px; }
            
            button { background-color:  #0A61C9; }
            
             .img3 { width: 200px;
                  height: 200px;
                  border-width: 4px;
                  border-style: solid;
                  border-color: #0A61C9; 
                  object-fit: cover;
                  transition: transform 0.3s ease-in-out;
            }
            
            .img3:hover { transform: scale(1.1); }
            
            .img4 { width: 600px;
                    height: 200px; }
            
            .img5 { width: 600px;
                    height: 300px; }
